#quote-box {
  border-radius: 3px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}
#quote-box .buttons .button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #F39C12;
  font-family:'Raleway', sans-serif;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  transition: all .5s;
}
#quote-box .buttons .button:hover{
  background-color: #f5ab34;
}
#quote-box .buttons .button#tweet-quote, #quote-box .buttons .button#tumblr-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}
#quote-box{
  text-align: center;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#quote-text{
  text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    animation: fadein 2s both;
    color: #F39C12;
}
.fa-custome{
  color: #F39C12;
}
#text{
  font-weight: normal;
}
#author{
  font-weight: lighter;
  font-size: 1.3em;
}

@keyframes fadein {
  0%{
      opacity: 0%;
  }
  100%{
    opacity: 90%;
  }
}